* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
button{
    cursor: pointer;
}
#container{
    width: 1280px;
    margin: 0 auto;
    height: 500px;
    background-color: #8fbcff4f;
    border-radius: 25px;
}
#header{
    width: 1280px;
    margin: 0 auto;
}
#footer{
    width: 1280px;
    margin: 0 auto;
}