* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
button{
    cursor: pointer;
}
#container{
    width: 1280px;
    margin: 0 auto;
    background-color: #8fbcff4f;
    border-radius: 25px;
}
#header{
    width: 1280px;
    margin: 0 auto;
}
#footer{
    width: 1280px;
    margin: 0 auto;
}
/* common.css */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: url("your-custom-icon.svg"); /* 원하는 아이콘 */
}
.carousel-indicators [data-bs-target] {
    background-color: white; /* 인디케이터 색상 */
}