* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}
button{
    cursor: pointer;
}
#container{
    width: 1280px;
    margin: 0 auto;
}
#header{
    width: 1280px;
    margin: 0 auto;
}
#footer{
    width: 1280px;
    margin: 0 auto;
}
/* common.css */
.carousel-control-prev-icon{
     background-image: url("/img/chevron-left.svg");
}
.carousel-control-next-icon {
    background-image: url("/img/chevron-right.svg"); /* 원하는 아이콘 */
}
.carousel-indicators [data-bs-target] {
    background-color: white; /* 인디케이터 색상 */
}
.bimg{
    width: 1280px;
    height: 75px;
    margin: 10px 0px;
}
li{
    list-style: none;
}

